/* 重置一些默认样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 0;
}

/* Header 样式 */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header .logo-container {
    margin-bottom: 10px;
}

header .logo {
    width: 60px;
    height: auto;
    border-radius: 50%;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

header nav ul li {
    display: inline-block;
    margin: 0 15px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #f39c12;
}

/* Hero Section */
.hero {
    background: url('assets/images/hero-bg.jpg') no-repeat center center/cover;
    padding: 80px 20px;
    text-align: center;
    color: #fff;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.cta-button {
    text-decoration: none;
    background-color: #f39c12;
    color: #fff;
    padding: 12px 20px;
    border-radius: 30px;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #e67e22;
}

/* Posts Section */
.posts {
    padding: 40px 20px;
    text-align: center;
}

.posts h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.post-preview {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.post {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 45%;
    transition: transform 0.3s ease-in-out;
}

.post:hover {
    transform: translateY(-10px);
}

.post h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.post p {
    color: #666;
    font-size: 1rem;
}

.post a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.post a:hover {
    color: #f39c12;
}

/* Footer 样式 */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* 响应式布局 */
@media (max-width: 768px) {
    .post-preview {
        flex-direction: column;
        align-items: center;
    }

    .post {
        width: 80%;
    }
}
